# GROQ KEYS (Add up to 3)
GROQ_API_KEY_1=
GROQ_API_KEY_2=
GROQ_API_KEY_3=

# GEMINI KEYS (Add up to 3)
GEMINI_API_KEY_1=
GEMINI_API_KEY_2=
GEMINI_API_KEY_3=

# n8n Webhook URL (Production URL from n8n)
N8N_WEBHOOK_URL=

FLASK_DEBUG=1
FLASK_RUN_HOST=0.0.0.0
